.create-form {
  &__row {
    position: relative;
    margin-bottom: 20px;
  }
  &__error-text {
    position: absolute;
    right: 0;
    bottom: -35px;
    &--active {
      color: #ff4d4f;
    }
  }
}